@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

body {
  font-family: Open Sans, sans-serif;
  color: #ffffff;
  background-image: linear-gradient(30deg, #c04338, purple, #6252ee, #05676e);
  background-size: 500%;
  min-height: 100vh;
  -webkit-animation: bg-animation 50s infinite;
          animation: bg-animation 50s infinite;
  text-align: center;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
  font-size: 1.3em;
}

p {
  margin-bottom: 5px;
  font-weight: lighter;
}

.container {
  height: 100%;
}

#maincontent {
  max-width: 350px;
  margin: auto;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.active {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4);
  color: #6d6d6d !important;
  font-weight: 800 !important;
}

.header {
  background-color: rgba(41, 41, 41, 0.61);
  padding: 30px 30px 30px 20px;
  margin-bottom: 30px;
}

.logo {
  font-size: 2.5em;
  text-transform: uppercase;
  font-style: italic;
  color: #ffffff;
  margin-bottom: 15px;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
}

.numgrade-button {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
  height: 35px;
  width: 50px;
  margin: 7px;
  padding-top: 15px;
}

.numgrade-button:hover, .numgrade-button:active {
  background-color: #ffffff;
  color: #6d6d6d;
  font-weight: 800;
}

.button {
  background-color: rgba(41, 41, 41, 0.5);
  color: #ffffff;
  padding: 17px 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  font-style: italic;
  width: 100%;
  max-width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

.button img {
  width: 40px;
  height: auto;
  position: relative;
  padding-right: 10px;
}

.button:hover,
.button:active {
  background-color: rgba(41, 41, 41, 0.75);
  color: #ffffff;
}

.gradelist {
  display: block;
  margin: 28px auto;
  border: 0px;
  background: #ffffff;
  width: 100%;
  max-width: 265px;
  padding: 15px 12px;
  color: #6d6d6d;
  font-style: italic;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.gradelist:hover, .gradelist:focus {
  outline: none;
}

.dark-box {
  background-color: rgba(41, 41, 41, 0.5);
  height: 185px;
  width: 100%;
  max-width: 215px;
  margin: 10px auto;
  position: relative;
  padding: 20px;
}

.lookwhatigot {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6em;
  font-weight: 800;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
}

.youselected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youselected li {
  padding: 0px 20px;
  font-size: 1.2em;
  font-weight: 800;
}

.expandable-link {
  color: #000000b0;
  text-decoration: none;
  font-size: 1.1em;
  font-style: italic;
  padding: 20px 0px;
  display: inline-block;
  position: relative;
}

.expandable-link:after {
  content: "";
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-left: 7px solid #23232396;
  position: absolute;
  right: -20px;
  bottom: 23px;
}

.allthemath {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 220px;
  margin: 20px auto;
}

.footer {
  margin-top: 40px;
  font-size: 0.8em;
  color: #d4d4d4;
  padding: 15px 0px 0px 0px;
}

.footer a {
  text-decoration: none;
  color: #d4d4d4;
}

.footer a:hover {
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */